<h1 class="title">About us.</h1>
<section class="about brewcal">
  Brew cal was designed to help you keep track of your homebrews.
  <br><br>
  Kevin was been looking for a good brewing calendar for a while to plan/track my homebrews through the process. With brewcal any user can create an account, add brews into your planning queue. As you brew a new recipe, you can drag and drop the brew card through the swim lanes.
  <br><br>
  Each calendar board has a public url which can be sent to friends to share whats on tap or whats conditioning in bottles.
</section>
<section class="about kevin">
  This is about kevin!
</section>
<section class="about contributing">
  <a href="https://github.com/kevinvanderlugt/brewcal" class="fork-link">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
  </a>
  Brew cal is 100% open source!<br>
  Want to help contribute? Awesome!<br><br>
  Send me a pull request and we can chat about it.
</section>


