<h1 class="title">We are here to <span class="help">help</span> you.</h1>

<section class="common-questions">
  <div class="common-header">Common Questions</div>
  <ul>
    <li class="question"><a href="#">Whats this all about?</a></li>
    <li class="question"><a href="#">How can I signup?</a></li>
    <li class="question"><a href="#">Why track my brews?</a></li>
    <li class="question"><a href="#">Whats the future of brewcal?</a></li>
    <li class="question"><a href="#">When will this release?</a></li>
    <li class="question"><a href="#">Can everyone see my brews?</a></li>
    <li class="question"><a href="#">Who made this?</a></li>
    <li class="question"><a href="#">How can I help contribute?</a></li>
  </ul>
</section>

<section class="answers">
  <article class="embed answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, doloribus, voluptate autem vero cumque suscipit distinctio perferendis ab alias sint repudiandae necessitatibus. Et, perspiciatis, velit aut dicta beatae aperiam at.</article>
  <article class="answer">Modi, quibusdam, dolores veritatis error eius fugit ut numquam repudiandae. Error, sint, inventore, quia voluptas voluptates eaque accusantium sunt laudantium harum tempore libero sequi illum rerum eligendi fugit nesciunt neque.</article>
  <article class="answer">Blanditiis, suscipit aliquam optio facilis odit iusto eaque eius impedit deserunt. Suscipit, quia, illo ratione laborum consectetur voluptatum soluta veritatis laudantium necessitatibus ex fugit porro nam ad eos laboriosam culpa.</article>
  <article class="answer">Autem numquam deserunt modi ea facilis aut molestias provident aspernatur labore ad. Voluptatibus, nisi, nihil cumque ut distinctio quia facere assumenda nam veritatis sapiente similique temporibus officiis recusandae voluptate officia!</article>
  <article class="answer">Deleniti, suscipit, ipsam, perferendis, et unde consectetur reiciendis aut autem illum aperiam architecto vitae neque minus dolorem velit cumque sunt expedita iusto ducimus aliquid quo amet tempore itaque consequatur qui.</article>
  <article class="answer">Perspiciatis, necessitatibus omnis sint doloribus quas veritatis non ut nesciunt nisi fugit aut at tempore modi obcaecati maxime dolores facilis excepturi recusandae minima inventore laudantium odio voluptas dolore earum quisquam.</article>
  <article class="answer">Fuga, velit, soluta quo vero ut et ducimus mollitia error veritatis laudantium sequi dolor nihil blanditiis iure illum labore maxime magni saepe ea molestiae aliquam reprehenderit enim iusto praesentium dicta?</article>
  <article class="answer">Molestias, dolores impedit quibusdam soluta excepturi praesentium consequatur dignissimos est accusantium ducimus! Labore, culpa, velit, at aperiam sint ipsa tempore sequi porro maiores ex exercitationem distinctio veritatis qui atque quod.</article>
  <article class="answer">Vitae, sed, delectus, quas, ut aliquid voluptates voluptatibus explicabo eaque consectetur asperiores laborum optio assumenda eligendi est officia impedit nostrum tempore repellat corrupti modi vel tempora possimus magnam labore corporis.</article>
  <article class="answer">Nihil, aspernatur, impedit, vel ratione mollitia ducimus doloremque deserunt minima accusamus nulla dolorem eveniet sunt tempore quae natus ipsam velit. Reprehenderit repellendus ipsum eligendi error totam dolore voluptates iste atque.</article>
</section>
