<div class="landing">
  <h1>Welcome to brewcal</h1>
  <section class="row">
    <div class="col-md-6">
      This is the section for writing cool features of the brewcal app
      <br>
      <br>
      <strong>Lets get going!</strong>
      <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-6">
      Show a pretty sweet img here
    </div>  
  </section>
  


</div>
