.title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  color: #28435C;
}

.title .help {
  color: #000000;
}

section.common-questions {
  width: 60%;

  margin-left: auto ;
  margin-right: auto ;
}

.common-header {
  position:relative;
  font-size: 1.50em;
  text-align: center;

  background-color: #EBEBEB;
  border: 2px solid #C9C9C9;

  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;

  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;

  padding: 5px;
}

section.common-questions ul {
  background-color: #FFFFFF;
  height: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  border: 2px solid #C9C9C9;
  border-top: none;

  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;

  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.question {
  line-height: 40px;
  height: 40px;
  list-style: none;

  border-bottom: 2px solid #C9C9C9;
}
.question:hover {
  background-color: #E3EFFA;
}


.question:last-child {
  border: none;
}

.question a {
  padding-left: 7%;
  display: block;
  width: 100%;
  height: 100%;
}
.question a, .question a:visited, .question a:active{
  color: #28435C;
}

.question a:hover{
  color: #000000;
}

.answers {
  margin-top: 3%;
  width: 60%;

  margin-left: auto;
  margin-right: auto;
}

article.answer {
  margin-top: 3%;

  padding: 3%;

  background-color: #FFFFFF;

  border: 2px solid #C9C9C9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

article.answer:last-child {
  margin-bottom: 3%;
}





