<section class="controls">
  <%= link_to "Add Brew", "#create", { class: "btn create", data: { toggle:"modal" }} %>
<!--   <input class="form-control search" placeholder="Search">
 --></section>
<section class="dashboard">
  <section class="row">
  <% @dashboard.brew_statuses.each do |status| %>
    <div class="col-md-3">
      <section class="dashboard-header">
        <%= status.capitalize %>
      </section>
      <section class="dashboard-body">
        <% @dashboard.brews_with_status(status).each do |brew| %>
          <%= render 'brew', brew: brew %>
        <% end %>
      </section>
    </div>
  <% end %>
  </section>
</section>