<section class="controls">
  <%= link_to "Add Brew", "#addModal", class: "create" %>
  <input class="search" placeholder="Search">
</section>
<section class="dashboard">
  <h1><%= @dashboard.title %></h1>
  <section class="grid dashboard-header">
  <% @dashboard.brew_statuses.each do |status| %>
    <div class="col-1-5">
      <%= status.capitalize %>
    </div>
  <% end %>
  </section>

  This is the default dashboard
</section>