<section class="controls">
  <%= link_to "Add Brew", "#addModal", class: "btn create" %>
<!--   <input class="form-control search" placeholder="Search">
 --></section>
<section class="dashboard">
  <section class="row dashboard-header">
  <% @dashboard.brew_statuses.each_with_index do |status, index| %>
    <% if index == 0 %>
    <div class="col-md-2">
    <% else %>
    <div class="col-md-2">
    <% end %>
      <%= status.capitalize %>
    </div>
  <% end %>
  </section>

  This is the default dashboard
</section>