@import "bootstrap";

html, body {
  height: 100%;
  max-width: 1370px;
  min-width: 995px; // Currently not supporting mobile intentionally
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

body {
  background-color: #E3E3E3;
}

header, footer {
  background-color: #1D3042;
  height: 46px;

  position:fixed;
  width: 100%;
  left: 0;

  /*Position the headers and footer to always be on top*/
  z-index: 999;
}

.alert {
  margin: 0px;
}

/* header stuff */
header {
  top: 0;
}

.header-title {
  padding-left: 10%;
  line-height: 46px;
  font-size: 19px;
}

header ul, footer ul {
  list-style: none;
  float: right;
  padding-right: 10%;
  line-height: 46px;
  margin-top: 0;
  font-size: 1.10em;
}

header li, footer li {
  display: inline;
  padding-right: 20px;
}


/* All default links on the page */
nav a:link, a:active, a:visited {
  color: #EBEBEB;
}
nav a:hover {
  color: #C4C4C4;
  text-decoration: none;
}
nav a {
  text-decoration: none;
}

/* main container for the dashboard */
.container {
  margin-left: 10%;
  margin-right: 10%; 
  overflow: auto; 
  padding: 56px 0; 

  height: 100% !important;
  min-height: 100%; 
}


/* footer stuff */
footer {
  bottom:0;
}

#copyright {
  text-align: center;
  display: inline;
  color: #EBEBEB;
  font-size: 10px;
  line-height: 46px;
  padding-left: 10%;
}

.container {
  height: 100% !important;
  min-height: 100%; 
} 

.card {
  margin: 5px;
  background-color: #A3A3A3;

  color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  height: 120px;
  position: relative;

  padding: 3px;
  font-size: 18px;
}

