// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* section for the controls such as add and search */
section.controls {
  /*height: 56px;*/
  padding-bottom: 5px;
  margin: 0;
}
input.search {
  float: right;
  display: inline;
/*  font-size: 16px;
  padding: 10px 18px 10px;
  margin-top: 6px;

  border: 2px solid #C9C9C9;

  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;*/
}

a.create {
  background-color: #1AC4A3;
  color: #ffffff;
}
a.create:hover {
  background-color: #1abc9c;
  color: #C4C4C4;
}

/* Dashboard stuff */
.dashboard {
  margin-bottom: 10px;
  background-color: #F7F7F7;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  border: 2px solid #C9C9C9;

  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
}

.dashboard-header {
  border-bottom: 2px solid #C9C9C9;
  line-height: 22px;
  
  background-color: #1abc9c;
  color: #FFFFFF;
  font-weight: bold;
}

.dashboard-body {
  height: -moz-calc(100% - 24px);
  height: -webkit-calc(100% - 24px);
  height: calc(100% - 24px);
}

.row {
  text-align: center;
  margin: 0;
}

/* Select all column grids to add the borders */
[class*='col-md-']
{
  border-right: 2px solid #C9C9C9;
  margin: 0;
  height: 100%;
}

[class*='col-md-']:last-of-type
{
  border-right: none;
}