// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.panel-body {
  .field {
    padding: 5px;
  }
  a {
    background-color: #1abc9c;
  }
}

.panel-footer {
  a {
    color: blue;
  }
  a:hover {
    text-decoration: none;
  }
}