// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  color: #28435C;
}

.about {
  margin-top: 3%;
  width: 85%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;

  padding: 3%;

  background-color: #FFFFFF;

  border: 2px solid #C9C9C9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  
}
.contributing {
  min-height: 110px;
  position: relative;

  .fork-link img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
