<header>
  <nav>
    <%# This should render the users name %>
    <%= link_to "brewcal", root_path, class: "header-title" %>
    <ul>
      <% if signed_in? %>
        <li><%= link_to "Account", edit_user_path(current_user) %></li>
        <li><%= link_to "Signout", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>